.main-container{
  display: flex;
  flex-direction: column;
  gap:10px;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgb(235, 130, 23, 0.8),
        rgb(220, 241, 231, 0)
      ),
      url("https://i.ibb.co/P5YY5z7/IMG-9034.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    max-height: 600px;
  }
  
  .contents-container {
    margin-top: 600px;
    padding: 50px 30px;

    display: flex;
    flex-direction: column;
    gap: 70px;

    .introduction-container{
      display: flex;
      justify-content: space-around;
      padding: 10px 20px;

      .introduction-sub-container-left{
        max-width: 300px;
      }

      .introduction-sub-container-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 300px;

        .container-inner{
          border-bottom: solid 1px;
        }
      }
    }

    .image-gallery-container{
      border-bottom: solid 1px gray;
      padding-bottom: 50px;

    }

    .articles-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      border-bottom: solid 1px gray;
      padding-bottom: 50px;
    }

    .contact-container{
      display: flex;
      justify-content: center;

      gap: 50px;

      border-bottom: solid 1px gray;
      padding-bottom: 50px;

      .contact-sub-container{
        display: flex;
        flex-direction: column;
      }
    }
  }
}

