@import "tailwindcss";

:root {
  --goldenrod-color: oklch(0.7516 0.1469 83.99);
}

@theme inline {
  --color-goldenrod: var(--goldenrod-color);
  --spacing-content-top: 8rem;
  --spacing-content-side: 1rem;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Libre Baskerville", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
