.blog-card-link {
  text-decoration: none;
}
.blog-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  max-height: 50vh;
  max-height: 40vh;
  min-height: 300px;
  padding: 20px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}

.blog-card img {
  max-height: 200px;
  max-width: 85%;
  border-radius: 4px;
}

.blog-title {
  font-size: 20px;
  margin: 10px 0;
}

.blog-description {
  font-size: 18px;
  color: #777;
  margin: 5px 0;
}
